.navBar {
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: right;
  background-color: none;
  /*background-color: rgba(220,220,220, 0.2);*/
  box-shadow: 0px 0px 10px #888888;
}

.logo {
  text-align: left;
  text-decoration: none;
  float: left;
  margin-top: -4px;
  color: black;
  font-weight: 700;
  font-size: 150%;
}

.logo:active {
  color: black;
}

.rightNavItems {
  padding-top: 3px;
}

.search {
  float: none;
  margin: 0px 50px 0px 50px;
  width: 300px;
}

.navItem {
  font-size: 18px;
  padding-left: 2px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(20,20,20,0.9);
}

.navItem:hover {
    color: rgba(20,20,20,1);
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
}

.tripplePoint{
  padding-left: 6px;
  font-size: 17px;
  font-weight: 700;
}

.dropdown-content {
    border-radius: 4px;
    display: none;
    position: absolute;
    margin-left: -50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(240,240,240, 1);
    box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

ul {
  padding: 0px;
}

li {
  padding: 5px;
  list-style-type: none;
  padding: 0px;
}

li:hover {
  background-color:  rgba(225,225,225, 1);
}
