.navBar {
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: right;
  background-color: none;
  /*background-color: rgba(220,220,220, 0.2);*/
  box-shadow: 0px 0px 10px #888888;
}

.logo {
  text-align: left;
  float: left;
  margin-top: -4px;
  color: rgb(0, 0, 0,0.9);
  font-weight: 700;
  font-size: 150%;
}

.rightNavItems {
  padding-top: 3px;
}

.search {
  float: none;
  margin: 0px 50px 0px 50px;
  width: 300px;
}

.navItem {
  font-size: 18px;
  padding-left: 2px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(20,20,20,0.7);
}

.navItem:hover {
    color: rgba(20,20,20,0.9);
}
