.topElement {
  width: 100%;
}

.welcome {
  margin-top: -91px;
  text-align: center;
  padding: 60px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  background: #327cad; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #327cad 0%, #05abe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #327cad 0%, #05abe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(115deg, #327cad 0%, #05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.exampleDiv {
  text-align: center;
  padding: 60px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  background: #327cad; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #327cad 0%, #05abe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #327cad 0%, #05abe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(115deg, #327cad 0%, #05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.textCard {
    padding: 100px;
    text-align: center;
    color: #C4E0F3;
}

.features {
  padding:  40px;
}

.bottomCard {
  padding: 80px;
  text-align: left;
  font-size: 11px;
  color: black;
}

.headTextAbout {
  font-size: 50px;
  font-weight: 700;
  margin: 0px;
  color: #ffffff;
}

.headImageVideo {
  padding-top: 70px;
  max-width: 80%;
}

.headImageSmall {
  margin-top:  40px;
  max-width: 350px;
}

.imageFadeIn {
  animation: fadeInPicture 2.5s;
  -webkit-animation: fadeInPicture 2.5s;
}

@keyframes fadeInPicture {
  from{opacity: 0 ;}
  to{opacity: 1 ;}
}

@-webkit-keyframes fadeInPicture {
  from{opacity : 0;}
  to{opacity : 1;}
}

.bottomText {
  text-align: center;
  font-size: 22px;
  margin: 10px;
  font-weight: 500;
  color: #327cad;
}
