.textContainer {
  padding-bottom: 20px;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.icon {
  height: 40px;
  float: left;
  margin-top: -1px;
  margin-right: 6px;
}

.leftPadding {
  padding-left: 35px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  color: #327cad;
  text-align: center;
  padding: 20px;
  font-weight: 600;
}

li {
  list-style-type: none;
  padding: 0px;
  color: #327cad;
}

h2 {
  text-align: left;
  margin: 0px;
  font-weight: 500;
}


.tileContainer {
  display: flex;
  padding: 5px;
  padding-bottom: 50px;
  flex-flow: row wrap;
  justify-content: center;
}

.tile {
  height: 250px;
  background-color: rgba(180,180,180,0.2);
  padding: 20px;
  margin: 5px;
  width: 32%;
  min-width: 250px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
