.mainPlot {
    width: 100%;
    overflow: hidden;
    z-index: 200;
}

.configBar {
  background-color: #f2e4d8;
  color: black;
  margin: auto;
  width: 100%;
  height: 35px;
  margin-top: -20px;
  margin-bottom: 2px;
  padding: 0px 0px 0px 0px;
  z-index: 6000;
  box-shadow: 1px 0px 3px 1px rgba(0,0,0,0.3);
}

.sourceDownloadButtons {
  text-align: center;
}

.codeBox {
  margin-left: -10px;
  padding: 8px;
  margin-right: -10px;
}

.divFadeIn {
  animation: fadeInPicture 1.3s;
  -webkit-animation: fadeInPicture 1.3s;
}

@keyframes fadeInPicture {
  from{opacity: 0 ;}
  to{opacity: 1 ;}
}

@-webkit-keyframes fadeInPicture {
  from{opacity : 0;}
  to{opacity : 1;}
}

.buttonFadeIn {
  animation: fadeInButton 1s;
  -webkit-animation: fadeInButton 1s;
}

@keyframes fadeInButton {
  from{opacity: 0 ;}
  to{opacity: 1 ;}
}

@-webkit-keyframes fadeInButton {
  from{opacity : 0;}
  to{opacity : 1;}
}

.modalFadeIn {
  animation: fadeInModal 0.5s;
  -webkit-animation: fadeInModal 0.5s;
}

@keyframes fadeInModal {
  from{opacity: 0 ;}
  to{opacity: 1 ;}
}

@-webkit-keyframes fadeInModal {
  from{opacity : 0;}
  to{opacity : 1;}
}

.seperator {
  height: 35px;
  width: 3px;
  margin-left: 4px;
  margin-right: 3px;
  float: right;
  box-shadow: 2px 0px 1.5px 0px rgba(0,0,0,0.12);
  background-color: rgba(255,255,255,0.6);
}

.seperatorLeft {
  height: 35px;
  width: 3px;
  margin-left: 4px;
  margin-right: 3px;
  float: left;
  box-shadow: 2px 0px 1.5px 0px rgba(0,0,0,0.12);
  background-color: rgba(255,255,255,0.6);
}

.legendItems {
  float: left;
  height: 32px;
  background-color: #f4f4f4;
  margin-left: 2px;
  font-size: 11px;
  padding: 3px 5px 3px 5px;
  cursor: pointer;
}

.legendItemsSidebar {
  height: 32px;
  text-align: left;
  width: 160px;
  background-color: #f4f4f4;
  margin-left: -10px;
  margin-bottom: 3px;
  overflow-x: auto;
  font-size: 11px;
  padding: 3px 5px 3px 7px;
  cursor: pointer;
}

.legendItems:hover {
  background-color: #f0f0f0;
}

.sidebarRight {
  float: right;
}

.belowMainPlot {
  width: 100%;
  margin: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 32px;
  overflow: hidden;
  background-color: #f2e4d8;
  box-shadow: 0px 0.5px 3px 1px rgba(0,0,0,0.3);
}

.filterBox {
  padding:  0px;
  height:  32px;
}

.noPadding {
  padding: 0px;
}

.RCode {
  font-size: 11px;
  white-space: nowrap;
  color:  red;
}

.loader {
  padding: 200px;
}

.optionToggle {
  background-color: #f4f4f4;
  padding-top:  2px;
  margin: 0px 0px 0px 2px;
  height:  32px;
  float:  right;
  cursor: pointer;
}

.optionToggle:hover {
  background-color: #e5e5e5;
}

.buttons {
  float:left;
  height: 35px;
  padding: 12px;
  margin-left: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #f8f1eb;
  background-color: #f2e4d8 ;
  font-weight: 400;
  font-size: 12px;
  font-weight: bold;
}

.last {
  float: right;
}

.buttons:hover{
  background-color:  #f4f4f4;
}

.leftButtons,
.rightButtons {
  background-color: #f2e4d8;
  height: 35px;
  width: 100px;
  float: right;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 12px;
  margin-left: 2px;
}

.leftButtons:hover{
  background-color: white;
}

.addBtn {
  width: 30px;
  margin-right: 5px;
  padding-bottom: 5px;
  outline: none;
}

.modChoice {
  background-color: #f2e4d8;
  height: 60px;
  width: 100%;
  margin-top: 10px;
  font-weight: 400;
  text-align: center;
  padding-top: 22px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 1px 2px 0.5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.modChoice:hover{
  background-color: #f4f4f4;
}

.choiceChild {
  float : right;
}

.leftButtons {
  float: left;
}

.first {
  margin-left: 0px;
}

.scatterContainer{
  max-width: 50%;
  overflow: hidden;
  float: left;
}

.scatterContainerWide{
  max-width: 50%;
  overflow: hidden;
  float: left;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.toggle {
  float: left;
  text-align: center;
  width: 150px;
  height: 35px;
  margin-left: 2px;
  margin-bottom: -10px;
  background-color: #f2e4d8;
}

.mainPlot {
  width: 100%;
  background-color: #ffffff;

}

circle {
}

circle:hover{
  fill: rgba(255,0,0,0.5);
}

svg{
  overflow: hidden;
}

text:hover{
  visibility: visible;
}

svg {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
