.mainPlot {
  height: 300px;
  margin: auto;
  text-align: center;
}

.info {

}

.table {
}

.configBar {
  background-color: rgba(100,100,100,0.5);
  color: black;
  width: 100%;
  height: 64px;
  padding: 4px;
  margin-top: -20px;
  padding: 2px 0px 2px 0px;
}

.loader {
  padding: 200px;
}

.slider {
  float:  left;
  text-align: center;
  width: 200px;
  padding-top: 6px;
  height: 60px;
  margin-left: 2px;
  background-color: #f4f4f4;

}

.buttons {
  float:left;
  height: 60px;
  padding-top: 15px;
  margin-left: 2px;
  background-color: #f4f4f4;

}

.first {
  margin-left: -1px;
}

.last {
  float: right;
}

.choiceGroup {
  float: right;
  margin-left: 2px;
}

.choiceChild {
  padding-top: 3px;
  background-color: #f4f4f4;
  height: 60px;
  width: 100px;
  float: right;
  font-weight: 400;
  text-align: center;
  padding-top: 22px;
  font-weight: bold;
  font-size: 12px;
}

.headerPlaceholder{
  float: right;
  margin-left: 2px;
  padding-top: 3px;
  background-color: rgba(255,255,255,0.4);
  height: 60px;
  width: 294px;
}

.choiceChild:hover {
  background-color: #DFCFBF;
}

.scatterContainer{
  height: 500px;
  width: 900px;
  float: left;
}


.toggle {
  float: left;
  text-align: center;
  width: 150px;
  margin-left: 2px;
  margin-bottom: -10px;
  background-color: #f4f4f4;
}

.mainPlot {
  height: 500px;
  width: 100%;
  background-color: #ffffff;
}

circle {
}

circle:hover{
  fill: rgba(255,0,0,0.5);
}

svg{
  overflow: hidden;
}

text{
  font-size: 0.08em;
}

text:hover{
  visibility: visible;
}

svg {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
