.topElement {
  width: 100%;
}

.welcomeHome {
  margin-top: -92px;
  padding-bottom: 95px;
  text-align: center;
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  background: #327cad; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #327cad 0%, #05abe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #327cad 0%, #05abe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(115deg, #327cad 0%, #05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.textCardHome {
    padding-top: 60px;
    text-align: center;
    color: #C4E0F3;
}

.headText {
  font-size: 50px;
  font-weight: 700;
  margin: 0px;
  color: #ffffff;
}

.headImageHome {
  padding-top: 60px;
  max-width: 70vh;
}

.headButton {
  font-weight: 600;
  margin-top:  12px;
  color: #333333;
  background-color: #20e39f;
  padding: 12px 20px 12px 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
  cursor: pointer;
}

.headButton:hover{
  box-shadow: 0px 7px 12px 1px rgba(0,0,0,0.225);
}

.features {
  margin: auto; 
  min-height:  200px;
  padding-top: 30px; 
  padding-bottom: 30px;
  text-align: left;
}