.topElement {
  width: 100%;
}

.welcomeHome {
  margin-top: -92px;
  text-align: center;
  min-height: calc(100vh + 92px);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#87e0fd+0,53cbf1+40,05abe0+100;Blue+3D+%23+16 */
  background: #327cad; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #327cad 0%, #05abe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #327cad 0%, #05abe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(115deg, #327cad 0%, #05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.textCardHome {
    padding-top: 60px;
    text-align: left;
    color: #e3f0f9;
}

.headTextHeader {
  font-size: 40px;
  margin:  2px;
  font-weight: 500;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headText {
  font-size: 18px;
  margin:  0px;
  font-weight: 300;
  color: rgba(255,255,255,0.4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headDescription{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headImageHome {
  height: 50vh;
}

.imageFadeIn {
  animation: fadeInPicture 2.5s;
  -webkit-animation: fadeInPicture 2.5s;
}

@keyframes fadeInPicture {
  from{opacity: 0 ;}
  to{opacity: 1 ;}
}

@-webkit-keyframes fadeInPicture {
  from{opacity : 0;}
  to{opacity : 1;}
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.SmallImage {
  width:  200px;
}

.headButton {
  font-weight: 600;
  margin-top:  12px;
  color: #1D2081;
  background-color: rgba(255,255,255,0.9);
  margin:  10px;
  padding: 12px 20px 12px 20px;
  border-radius: 2px;
  box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
  cursor: pointer;
}

.headButton:hover{
  box-shadow: 0px 7px 12px 1px rgba(0,0,0,0.225);
  background-color: rgba(255,255,255,0.95);
}

.features {
  margin: auto;
  min-height:  200px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
}
